$main-color:#333;
$secondry-color:white;
$grey-color:#666;
$shadow-color:0 2px 8px rgba(0,0,0,0.1);
$green-color:#21BA75;
$text-weight:600;
$text-size:24px;

$shadow-color-hover:0 6px 16px rgba(0, 0, 0, 0.2);
$translate-y-5px:translateY(-5px);
